parameters:
    level: max

    paths:
        - src
        - tests

    excludePaths:
        - tests/Application/*

    bootstrapFiles:
        - tests/Application/config/bootstrap.php

    # Symfony Configuration
    symfony:
        consoleApplicationLoader: tests/PHPStan/console_application.php

    # Doctrine Configuration
    doctrine:
        repositoryClass: Doctrine\ORM\EntityRepository
        #objectManagerLoader: tests/PHPStan/object_manager.php

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # TreeBuilder is generic in Symfony >=7.1 but not in 6.4
        - identifier: missingType.generics
          path: src/DependencyInjection/Configuration.php
