parameters:
    paths:
        - 'src'
        - 'tests'
    exclude_paths:
        - '*/node_modules/*'
        - '*/tests/Application/var/*'

services:
    Rector\Refactoring\Rector\FileSystem\MoveAndRenameClassRector:
        $oldToNewClasses:
            Acme\SyliusExamplePlugin\DependencyInjection\AcmeSyliusExampleExtension: ${vendor}\${pluginNameWithSuffix}\DependencyInjection\${vendor}${pluginName}Extension
            Acme\SyliusExamplePlugin\AcmeSyliusExamplePlugin: ${vendor}\${pluginNameWithSuffix}\${vendor}${pluginNameWithSuffix}
            Tests\Acme\SyliusExamplePlugin\DependencyInjection\AcmeSyliusExampleExtensionTest: Tests\${vendor}\${pluginNameWithSuffix}\DependencyInjection\${vendor}${pluginName}ExtensionTest
#    Rector\Renaming\Rector\Namespace_\RenameNamespaceRector:
#        $oldToNewNamespaces:
#            Acme\SyliusExamplePlugin: ${vendor}\${pluginName}
#            Tests\Acme\SyliusExamplePlugin: Tests\${vendor}\${pluginName}
